button {
  all: unset;
  cursor: pointer;
}

.container {
  background-color: #fff;
  width: 70rem;
  padding: 4rem;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.header {
  margin-bottom: 3.2rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2%;
  position: relative;
}

.form input {
  font-family: 'Rubik', sans-serif;
}

input[type='number'].form__control {
  -moz-appearance: textfield;
}
input[type='number'].form__control::-webkit-outer-spin-button,
input[type='number'].form__control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form__control {
  padding: 1.2rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc; /* stały border */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  transition: border-color 150ms ease, box-shadow 150ms ease;
  outline: none;
}

.form__control:focus {
  border: 2.3px solid #2684ff;
}

.form__control:hover {
  background-color: #fafafa;
}

.btn__reverse {
  position: absolute;
  left: 67%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 50%;
}

.btn__reverse img {
  width: 1.2rem;
  height: 1.2rem;
}

.results {
  margin-top: 2.4rem;
  min-height: 2rem;
}

.results p {
  margin-top: 2rem;
  font-weight: 700;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}

.loader {
  margin-left: 1rem;
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid #333;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
